<div class="wrapper">

  <center>
    <a href="https://johnle.org/blog/">
      <div class="site-title" style="font-family: Stick-no-bills; color: red;">
        {{site.title}}
      </div>
    </a>
  </center>

</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>

<center>

  <div class="wrapper">
    <div class="trigger site-navigation">
      <a class="page-link" href="{{site.url}}">JOHNLE.ORG</a>
      <span class="exclamationMark">/</span><a class="page-link" href="{{site.url}}{{site.baseurl}}">BLOG</a>

      {% for sitePage in site.pages %}
      {% if sitePage.title %}

      <span class="exclamationMark">/</span><a class="page-link" href="https://johnle.org/blog/">{{sitePage.title}}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</center>

<br>

